:host {
  display: block;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

button {
  position: relative;
  box-sizing: border-box;
  background-color: #7500c0;
  border: none; 
  color: white;
  padding: 12px 32px; 
  font-size: 16px; 
  min-width:100px;
}

button:disabled,
button[disabled]{
  background-color: #eaeaea;
  color: #666666;
  padding: 12px 40px 12px 32px; 
}

button:disabled span {
  visibility:hidden;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  /* right: 8px; */
  /* right: 10%; */
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}